{{BuilderParameterName}}.HaveSpecificRangedWeaponSpecificProficiency({{GenerateGuid}}, Proficiencies.Instances.{{RequiredProficiencyName}}.ID, RangedWeapons.Instances.{{RequiredRangedWeaponName}}.ID);