{{BuilderParameterName}}.HaveSpecificWeaponCategorySpecificProficiency({{GenerateGuid}}, Proficiencies.Instances.{{RequiredProficiencyName}}.ID, WeaponCategories.Instances.{{RequiredWeaponCategoryName}}.ID);