{{BuilderParameterName}}.HaveSpecificSavingThrowSpecificProficiency({{GenerateGuid}}, Proficiencies.Instances.{{RequiredProficiencyName}}.ID, SavingThrowStats.Instances.{{RequiredSavingThrowStatName}}.ID);