{{BuilderParameterName}}.HaveSpecificArmorCategorySpecificProficiency({{GenerateGuid}}, Proficiencies.Instances.{{RequiredProficiencyName}}.ID, ArmorCategories.Instances.{{RequiredArmorCategory}}.ID);